@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Austin, TX 78751.<br />
    <abbr title="Phone">Phone:</abbr>
    972-904-0071<br />
    <abbr title="Linkedin">LinkedIn:</abbr>
    <a href="http://www.linkedin.com/daparker1">linkedin.com/daparker1</a><br />
    <abbr title="Github">Git Hub:</abbr>
    <a href="http://www.github.com/David-Parker">github.com/David-Parker</a><br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:davidgparker123@utexas.edu">davidgparker123@utexas.edu</a><br />
</address>