@{
    ViewBag.Title = "Home Page";
}

<style>
     p { display: inline-block; }
</style>

<div class="jumbotron">
    <center>
        <img src="~/Content/images/banner1.png" width="800" style="align-content: center" />
    </center>

</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="~/Content/images/MSFT_logo_rgb_C-Gray.png" width="350" style="padding-right:15px"/></h2>
        <p>May 2015 - August 2015</p>
        <p>My second internship. This time in Redmond, WA. At Microsoft I was part of the Data and Analytics team. I was
           responsible for creating a data reprocessing tool for an internal workflow program that runs on a map-reduce framework.</p>
        <br />
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.LawlerApps.MarbleMania&hl=en">Read more &raquo;</a></p>
        <br /><br />
        <h2><img src="~/Content/images/NIOfficialLogo.jpg" width="300" /></h2>
        <p>June 2014 - December 2014</p>
        <p>My first internship in Austin, TX. National Instruments is a company about creating tools and devices for engineers and scientists.
           Here I created drivers for scientific instruments in LabView and in C.</p>
        <br />
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.LawlerApps.MarbleMania&hl=en">Read more &raquo;</a></p>
        <h2><img src="~/Content/images/marble.png" width="375" /></h2>
            <p>Feburary 2013 - July 2013</p>
            <p>Marble Mania is a 3D marble game where the player's goal is to traverse the obstacles and enter the warp portal.</p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.LawlerApps.MarbleMania&hl=en">Read more &raquo;</a></p>
        <img src="~/Content/images/marble_mania.png" width="650" height="375"/>
        <br />
    </div>
    </div>
</div>