@{
    ViewBag.Title = "Home Page";
}

<style>
     p { display: inline-block; }
</style>

<div class="jumbotron">
    <h1>Lawler</h1>
    <p class="lead">David Parker</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Marble Mania</h2>
        <p>
            Feburary 2013 - July 2013</p>
        <div>
            <p>Marble Mania is a 3D marble game where the player's goal is to traverse the obstacles and enter the warp portal.
            </p>
        </div>
        <img src="~/Content/images/marble_mania.png" width="650" height="375"/>
        <br /><br />
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.LawlerApps.MarbleMania&hl=en">Learn more &raquo;</a></p>
    </div>
    </div>
</div>